:root, .light, .light-theme {
  --blue-1: #fafdff;
  --blue-2: #f2faff;
  --blue-3: #e4f5ff;
  --blue-4: #d3eeff;
  --blue-5: #c0e5ff;
  --blue-6: #aad8fb;
  --blue-7: #8dc8f4;
  --blue-8: #5db1ec;
  --blue-9: #003b5c;
  --blue-10: #194e70;
  --blue-11: #1674ac;
  --blue-12: #013c5d;

  --blue-a1: #0099ff05;
  --blue-a2: #009dff0d;
  --blue-a3: #00a1ff1b;
  --blue-a4: #009dff2c;
  --blue-a5: #0096ff3f;
  --blue-a6: #008af355;
  --blue-a7: #0084e772;
  --blue-a8: #0085e1a2;
  --blue-a9: #003b5c;
  --blue-a10: #003b61e6;
  --blue-a11: #0067a4e9;
  --blue-a12: #003b5cfe;

  --blue-contrast: #fff;
  --blue-surface: #eff9ffcc;
  --blue-indicator: #003b5c;
  --blue-track: #003b5c;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --blue-1: oklch(99.3% 0.0051 241.5);
      --blue-2: oklch(98% 0.0109 241.5);
      --blue-3: oklch(96% 0.0254 241.5);
      --blue-4: oklch(93.6% 0.0407 241.5);
      --blue-5: oklch(90.4% 0.0549 241.5);
      --blue-6: oklch(86.2% 0.069 241.5);
      --blue-7: oklch(80.7% 0.0873 241.5);
      --blue-8: oklch(73.1% 0.1184 241.5);
      --blue-9: oklch(33.7% 0.0792 241.5);
      --blue-10: oklch(40.6% 0.0792 241.5);
      --blue-11: oklch(53.7% 0.1184 241.5);
      --blue-12: oklch(34.2% 0.0792 241.5);

      --blue-a1: color(display-p3 0.0235 0.5137 1 / 0.016);
      --blue-a2: color(display-p3 0.0235 0.5922 0.9216 / 0.048);
      --blue-a3: color(display-p3 0.0118 0.549 0.9608 / 0.095);
      --blue-a4: color(display-p3 0.0039 0.5412 0.949 / 0.153);
      --blue-a5: color(display-p3 0.0039 0.5216 0.949 / 0.22);
      --blue-a6: color(display-p3 0.0039 0.4784 0.9098 / 0.299);
      --blue-a7: color(display-p3 0.0039 0.4392 0.851 / 0.397);
      --blue-a8: color(display-p3 0 0.4353 0.8314 / 0.553);
      --blue-a9: color(display-p3 0 0.1529 0.2863 / 0.914);
      --blue-a10: color(display-p3 0 0.1725 0.3216 / 0.844);
      --blue-a11: color(display-p3 0 0.2941 0.5608 / 0.785);
      --blue-a12: color(display-p3 0 0.1608 0.2902 / 0.914);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.9451 0.9725 1 / 0.8);
      --blue-indicator: oklch(33.7% 0.0792 241.5);
      --blue-track: oklch(33.7% 0.0792 241.5);
    }
  }
}

:root,
.light,
.light-theme {
  --gray-1: #fcfcfc;
  --gray-2: #f9f9f9;
  --gray-3: #f0f0f0;
  --gray-4: #e8e8e8;
  --gray-5: #e1e1e1;
  --gray-6: #d9d9d9;
  --gray-7: #cecece;
  --gray-8: #bbb;
  --gray-9: #8c8c8c;
  --gray-10: #828282;
  --gray-11: #636363;
  --gray-12: #1f1f1f;

  --gray-a1: #00000003;
  --gray-a2: #00000006;
  --gray-a3: #0000000f;
  --gray-a4: #00000017;
  --gray-a5: #0000001e;
  --gray-a6: #00000026;
  --gray-a7: #00000031;
  --gray-a8: #00000044;
  --gray-a9: #00000073;
  --gray-a10: #0000007d;
  --gray-a11: #0000009c;
  --gray-a12: #000000e0;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8c8c8c;
  --gray-track: #8c8c8c;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --gray-1: oklch(99.3% 0 none);
      --gray-2: oklch(98.1% 0 none);
      --gray-3: oklch(95.5% 0 none);
      --gray-4: oklch(93.1% 0 none);
      --gray-5: oklch(90.9% 0 none);
      --gray-6: oklch(88.5% 0 none);
      --gray-7: oklch(85.1% 0 none);
      --gray-8: oklch(79.2% 0 none);
      --gray-9: oklch(64% 0 none);
      --gray-10: oklch(60.5% 0 none);
      --gray-11: oklch(50% 0 none);
      --gray-12: oklch(24% 0 none);

      --gray-a1: color(display-p3 0 0 0 / 0.0118);
      --gray-a2: color(display-p3 0 0 0 / 0.0235);
      --gray-a3: color(display-p3 0 0 0 / 0.0588);
      --gray-a4: color(display-p3 0 0 0 / 0.0902);
      --gray-a5: color(display-p3 0 0 0 / 0.1176);
      --gray-a6: color(display-p3 0 0 0 / 0.149);
      --gray-a7: color(display-p3 0 0 0 / 0.1922);
      --gray-a8: color(display-p3 0 0 0 / 0.2667);
      --gray-a9: color(display-p3 0 0 0 / 0.451);
      --gray-a10: color(display-p3 0 0 0 / 0.4902);
      --gray-a11: color(display-p3 0 0 0 / 0.6118);
      --gray-a12: color(display-p3 0 0 0 / 0.8784);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64% 0 none);
      --gray-track: oklch(64% 0 none);
    }
  }
}

:root {
  --dark-blue:  #003B5C;
  --light-blue: #CBECFF;
  --seasalt:#F0F6F8;
  --bright-blue: #4B87FF;
  --dark-gray: #383838; 
}
