@import 'https://js.arcgis.com/5.0/@arcgis/core/assets/esri/themes/light/main.css';

@import './colors.css';
@import './animations.css';
@import './shadow.css';
@import 'tailwindcss';

@custom-variant theme-bsk1 {
  &:where([data-theme='bsk1'] *) {
    @slot;
  }
}

@custom-variant theme-bsk2 {
  &:where([data-theme='bsk2'] *) {
    @slot;
  }
}

@theme {
  /* Fonts */
  --font-sans: 'Work Sans Variable', sans-serif;

  /* Colors */
  --color-*: initial;

  --color-white: #fff;
  --color-black: #000;

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);

  --color-gray-a1: var(--gray-a1);
  --color-gray-a2: var(--gray-a2);
  --color-gray-a3: var(--gray-a3);
  --color-gray-a4: var(--gray-a4);
  --color-gray-a5: var(--gray-a5);
  --color-gray-a6: var(--gray-a6);
  --color-gray-a7: var(--gray-a7);
  --color-gray-a8: var(--gray-a8);
  --color-gray-a9: var(--gray-a9);
  --color-gray-a10: var(--gray-a10);
  --color-gray-a11: var(--gray-a11);
  --color-gray-a12: var(--gray-a12);

  --color-gray-contrast: var(--gray-contrast);
  --color-gray-surface: var(--gray-surface);
  --color-gray-indicator: var(--gray-indicator);
  --color-gray-track: var(--gray-track);

  --color-accent-1: var(--blue-1);
  --color-accent-2: var(--blue-2);
  --color-accent-3: var(--blue-3);
  --color-accent-4: var(--blue-4);
  --color-accent-5: var(--blue-5);
  --color-accent-6: var(--blue-6);
  --color-accent-7: var(--blue-7);
  --color-accent-8: var(--blue-8);
  --color-accent-9: var(--blue-9);
  --color-accent-10: var(--blue-10);
  --color-accent-11: var(--blue-11);
  --color-accent-12: var(--blue-12);

  --color-accent-a1: var(--blue-a1);
  --color-accent-a2: var(--blue-a2);
  --color-accent-a3: var(--blue-a3);
  --color-accent-a4: var(--blue-a4);
  --color-accent-a5: var(--blue-a5);
  --color-accent-a6: var(--blue-a6);
  --color-accent-a7: var(--blue-a7);
  --color-accent-a8: var(--blue-a8);
  --color-accent-a9: var(--blue-a9);
  --color-accent-a10: var(--blue-a10);
  --color-accent-a11: var(--blue-a11);
  --color-accent-a12: var(--blue-a12);

  --color-accent-contrast: var(--blue-contrast);
  --color-accent-surface: var(--blue-surface);
  --color-accent-indicator: var(--blue-indicator);
  --color-accent-track: var(--blue-track);

  --color-dark-blue: var(--dark-blue);
  --color-light-blue: var(--light-blue);
  --color-seasalt: var(--seasalt);
  --color-bright-blue: var(--bright-blue);
  --color-dark-gray: var(--dark-gray);

  /* shadows */
  --shadow-sm: var(--app-shadow-sm);
  --shadow-md: var(--app-shadow-md);
  --shadow-lg: var(--app-shadow-lg);
  --shadow-xl: var(--app-shadow-xl);

  /* Breakpoints */
  --breakpoint-xs: 480px;
}

@theme inline {
  /* Semantic Colors */
  --color-htmlBackground: var(--color-gray-3);
  --color-fg: var(--color-gray-12);
  --color-muted: var(--color-accent-7);
  --color-border: var(--color-accent-3);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.map-container {
  @apply relative h-full w-full;
  container-type: size;
  container-name: map-container;
}

.scale-control {
  --scalebar-text: var(--color-accent-9);
  --scalebar-bg: var(--color-accent-surface);
  --scalebar-line-color: var(--color-accent-9);
}

html[data-theme='bsk1'] .scale-control {
  --scalebar-text: var(--color-gray-11);
  --scalebar-bg: var(--color-gray-surface);
  --scalebar-line-color: var(--color-gray-11);
}
